<nav class="navbar navbar-expand-lg navbar-light bg-secondary text-white">
    <a class="navbar-brand text-white">UM-JUREI Basic Ultrasound Course</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
   
      </ul>
  
      <ul class="navbar-nav">
        <li style="padding-right: 20px;" class="nav-item active">
          <a>Welcome <%= locals.userData.fullname %> </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="get" action="/logout">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
      </form>
    </div>
  </nav>
  
  <br>
  