
  
      <div class="container">
        <h3 id="question_number" class="question_no"></h3>
        <div class="row justify-content-center">
          <div id="question_place" class="form-group col-md-6">
            <h5>27.	The reduction of intensity of an ultrasound wave as it travels through tissue can be described as …</h5>
            <input type="text" class="form-control" name="27" id="q1_place">
            <h5 id="q1_display">No answer selected</h5>
          </div>
        </div>
        <div class="row justify-content-center">
          <div id="question_place" class="form-group col-md-6">
            <h5>28.	On a longitudinal scan of the pelvis, multiple parallel echoes are seen in the anterior portion of the bladder. These echoes are equally spaced and appear to be within the bladder. This is known as …</h5>
            <input type="text" class="form-control" name="28" id="q2_place">
            <h5 id="q2_display">No answer selected</h5>
          </div>
        </div>
        <div class="row justify-content-center">
          <div id="question_place" class="form-group col-md-6">
            <h5>29.	The ultrasound machine control which equalizes the received echo amplitudes based on reflector depth is …</h5>
            <input type="text" class="form-control" name="29" id="q3_place">
            <h5 id="q3_display">No answer selected</h5>
          </div>
        </div>
        <div class="row justify-content-center">
          <div id="question_place" class="form-group col-md-6">
            <h5>30.	The resonant frequency of a transducer is determined by the thickness and propagation speed of the …</h5>
            <input type="text" class="form-control" name="30" id="q4_place">
            <h5 id="q4_display">No answer selected</h5>
          </div>
      </div>
      <script>
        $("#q1_place").val(userAnswer["27"]);
        $("#q2_place").val(userAnswer["28"]);
        $("#q3_place").val(userAnswer["29"]);
        $("#q4_place").val(userAnswer["30"]);
        // one time load answer
        if (osce[$("#q1_place").val()] != undefined)
          {
            $("#q1_display").text(osce[$("#q1_place").val()]);
          } else
          {
            $("#q1_display").text("No answer selected");
          }
          if (osce[$("#q2_place").val()] != undefined)
          {
            $("#q2_display").text(osce[$("#q2_place").val()]);
          } else
          {
            $("#q2_display").text("No answer selected");
          }
          if (osce[$("#q3_place").val()] != undefined)
          {
            $("#q3_display").text(osce[$("#q3_place").val()]);
          } else
          {
            $("#q3_display").text("No answer selected");
          }
          if (osce[$("#q4_place").val()] != undefined)
          {
            $("#q4_display").text(osce[$("#q4_place").val()]);
          } else
          {
            $("#q4_display").text("No answer selected");
          }

        $("#q1_place").on("change", function() {
          if (osce[$(this).val()] != undefined)
          {
            $("#q1_display").text(osce[$(this).val()]);
          } else
          {
            $("#q1_display").text("Please select a valid answer");
          }
        });
        $("#q2_place").on("change", function() {
          if (osce[$(this).val()] != undefined)
          {
            $("#q2_display").text(osce[$(this).val()]);
          } else
          {
            $("#q2_display").text("Please select a valid answer");
          }
        });
        $("#q3_place").on("change", function() {
          if (osce[$(this).val()] != undefined)
          {
            $("#q3_display").text(osce[$(this).val()]);
          } else
          {
            $("#q3_display").text("Please select a valid answer");
          }
        });
        $("#q4_place").on("change", function() {
          if (osce[$(this).val()] != undefined)
          {
            $("#q4_display").text(osce[$(this).val()]);
          } else
          {
            $("#q4_display").text("Please select a valid answer");
          }
        });

        
      </script>
      <h6 style="text-align: center">Click to save your answer</h6>
      <div style="margin-bottom: 20px" class="text-center">
        <button id="submitbutton" class="btn btn-secondary">Save</button>
      </div>

  