
  
      <div class="container">
        <h3 id="question_number" class="question_no"></h3>
        <figure id="figure" class="figure">
          <img src="/image/3.jpg" class="figure-img img-fluid rounded img-thumbnail mx-auto d-block w-50"
                alt="" onclick="openImageViewer('/image/3.jpg')">
        </figure>
        <div class="row justify-content-center">
          <div id="question_place" class="form-group col-md-6">
            <h5>5. The anechoic circular structure identified as A is …</h5>
            <input type="text" class="form-control" name="5" id="q1_place">
            <h5 id="q1_display">No answer selected</h5>
          </div>
        </div>
        <div class="row justify-content-center">
          <div id="question_place" class="form-group col-md-6">
            <h5>6. The anechoic tubular structure identified as B is …  </h5>
            <input type="text" class="form-control" name="6" id="q2_place">
            <h5 id="q2_display">No answer selected</h5>
          </div>
        </div>
        <div class="row justify-content-center">
          <div id="question_place" class="form-group col-md-6">
            <h5>7. The anechoic circular structure identified as C is …</h5>
            <input type="text" class="form-control" name="7" id="q3_place">
            <h5 id="q3_display">No answer selected</h5>
          </div>
        </div>
      </div>
      <script>
        $("#q1_place").val(userAnswer["5"]);
        $("#q2_place").val(userAnswer["6"]);
        $("#q3_place").val(userAnswer["7"]);
        // one time load answer
        if (osce[$("#q1_place").val()] != undefined)
          {
            $("#q1_display").text(osce[$("#q1_place").val()]);
          } else
          {
            $("#q1_display").text("No answer selected");
          }
          if (osce[$("#q2_place").val()] != undefined)
          {
            $("#q2_display").text(osce[$("#q2_place").val()]);
          } else
          {
            $("#q2_display").text("No answer selected");
          }
          if (osce[$("#q3_place").val()] != undefined)
          {
            $("#q3_display").text(osce[$("#q3_place").val()]);
          } else
          {
            $("#q3_display").text("No answer selected");
          }

        $("#q1_place").on("change", function() {
          if (osce[$(this).val()] != undefined)
          {
            $("#q1_display").text(osce[$(this).val()]);
          } else
          {
            $("#q1_display").text("Please select a valid answer");
          }
        });
        $("#q2_place").on("change", function() {
          if (osce[$(this).val()] != undefined)
          {
            $("#q2_display").text(osce[$(this).val()]);
          } else
          {
            $("#q2_display").text("Please select a valid answer");
          }
        });
        $("#q3_place").on("change", function() {
          if (osce[$(this).val()] != undefined)
          {
            $("#q3_display").text(osce[$(this).val()]);
          } else
          {
            $("#q3_display").text("Please select a valid answer");
          }
        });

        
      </script>
      <h6 style="text-align: center">Click to save your answer</h6>
      <div style="margin-bottom: 20px" class="text-center">
        <button id="submitbutton" class="btn btn-secondary">Save</button>
      </div>

  